body{
    margin:0;
    padding:0;
    background-color: #1e1e1e;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (max-width:600px) {
    .foto-perfil{
        display: none;
    }
    .projetos-linha{
        width:100%;
        flex-direction: column!important;
        margin-left: 20%;
        
    }
    .projetos-linha img{
        width: 50vw;
    }
    .projetos-linha h2{
        width:100%!important;
    }
    .projeto-linha p{
        width:100%!important;
        text-align:justify!important;
    }

}
p{
    color: rosybrown;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.nav{
    width: 100%;
    background-color: #DDA0DD;
}
.nav ul{
    width: 90%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: none;
}
.nav ul li{
   
}
.nav a {
    font-weight: bold;
    text-decoration: none;
    color: #A52A2A;
}
.texto p{
    padding-left: 25px;
}
h1{
    color: #FF69B4;
}
h2{
    color:#FF69B4;
}
.texto{
    display: flex;
    flex-direction: row;
}
.foto-perfil{
    width: 30%;
    aspect-ratio: 1;
    border: 3px dashed #FF69B4;
    padding: 5px;
    border-radius: 50%;

}
#video{
    width: 70vw;
    aspect-ratio: 16/9;
}

/* Página de Contato */

form{
    width: 45%;
    height:100%;
    margin: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color:#DDA0DD;
    border-radius: 25px;

}
label{
    margin:5px;
    font-size: 18px;
    font-weight: lighter;
    color: #A52A2A;

}
input{
    width: 75%;
    height: 15px;
    margin: 10px;
    padding: 10px;
    border:none;
    border-radius: 25px;
    box-shadow:0 1px #1e1e1e;
}
textarea{
    width: 75%;
    margin: 10px;
    padding: 10px;
    border:none;
    border-radius: 15px;
    color: #1e1e1e;
    resize:none;
    box-shadow:0 1px #1e1e1e;
    
}
button{
    width: 30%;
    height: 35px;
    margin:10px;
    align-self: center;
    border:none;
    border-radius: 5px;
    background-color: #FF69B4;
    font-weight: bolder;
    font-size: 0.8em;
    color: #A52A2A;

}
.formulario span{
    margin-left:15px;
    font-size: 0.8rem;
    color: #FF69B4;

}
#mapa{
    width: 40vw;
    aspect-ratio: 16/9;
    border:0;
}

/* Página de Projetos */
.projetos-linha{
    margin-top: 25px;
    display:flex;
    flex-direction: row;
}
.img-projetos{
    width: 20vw;
    aspect-ratio: 1;
    border: 3px dashed #FF69B4;
    padding: 8px;
    border-radius: 5%;
}

.projetos-linha p{
    width: 80%;
}
.projetos-linha h2{
    width: 60%;
}
.lista-formacao{
    display: flex;
    flex-direction:row;
}
.lista-formacao hr{
    background-color: #FF69B4;
    border: 3px solid #FF69B4;
}
.lista-formacao ul li {
    margin-top: 24px;
    margin-bottom: 24px;
    list-style-type: circle;
    color: #DDA0DD;
}
.lista-formacao span{
    font-weight: bolder;
    color: #A52A2A;
}